<style>
    :host ::ng-deep .p-menubar {
        padding: 0.5rem;
        background: #ffffff;
        color: #495057;
        border: 1px solid #ffffff;
        border-radius: 6px;
    }
</style>

<!--MENU FOR SIDEBAR-->
<ul class="layout-menu" *ngIf="mode === 'SIDEBAR'">
    <ng-container *ngFor="let item of model; let i = index;">
        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>
    <li>
        <a href="https://www.primefaces.org/primeblocks-ng/#/">
            <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'banner-primeblocks' : 'banner-primeblocks-dark'}}.png" alt="Prime Blocks" class="w-full mt-3"/>
        </a>
    </li>
</ul>
<!--MENU FOR MENUBAR-->
<p-menubar [model]="tieredItems" *ngIf="mode === 'MENUBAR'">
    <ng-template pTemplate="start">
        <span class="p-input-icon-right" style="margin-right: 5px">
            <input type="text" pInputText placeholder="Search">
            <i class="pi pi-search"></i>
        </span>
    </ng-template>
</p-menubar>
