<div class="grid">
    <div class="col-12 xl:col-12">
        <div class="card shadow-2">
            <div class="flex align-items-center mb-4">
                <div>
                    <span class="text-900 text-xl font-medium mb-2">Nueva tarea</span>
                </div>
            </div>
            <form [formGroup]="taskForm" (ngSubmit)="createTask()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 sm:col-6 md:col-6 lg:col-4 xl:col-4">
                        <label htmlFor="taskName"><strong class="p-error">*</strong> Nombre de la Tarea:</label>
                        <input pInputText id="taskName" type="text" formControlName="taskName"
                               placeholder="Escriba aquí"/>
                        <small *ngIf="taskForm.controls['taskName'].hasError('required') &&
                             (taskForm.controls['taskName'].dirty || taskForm.controls['taskName'].touched)"
                               id="taskName-help" class="block p-error">Campo requerido.</small>
                    </div>

                    <div class="field col-12 sm:col-6 md:col-6 lg:col-4 xl:col-4">
                        <label htmlFor="endDate"><strong class="p-error">*</strong> Fecha límite:</label>
                        <p-calendar [showIcon]="true" inputId="icon" id="endDate" dateFormat="dd/mm/yy"
                                    placeholder="dd/mm/yyyy" formControlName="endDate"></p-calendar>
                        <small *ngIf="taskForm.controls['endDate'].hasError('required') &&
                             (taskForm.controls['endDate'].dirty || taskForm.controls['endDate'].touched)"
                               id="endDate-help" class="block p-error">Campo requerido.</small>
                    </div>

                    <div class="field col-12 sm:col-6 md:col-6 lg:col-4 xl:col-4">
                        <label htmlFor="state"><strong class="p-error">*</strong> Estado:</label>
                        <p-dropdown [options]="taskStates" formControlName="state"
                                    placeholder="Seleccione una opción"></p-dropdown>
                        <small *ngIf="taskForm.controls['state'].hasError('required') &&
                             (taskForm.controls['state'].dirty || taskForm.controls['state'].touched)"
                               id="state-help" class="block p-error">Campo requerido.</small>
                    </div>

                    <!--PERSONA ASOCIADA-->
                    <div id="associatedPerson" class="col-12">
                        <div class="card">
                            <div class="flex align-items-center mb-4">
                                <div class="bg-blue-100 inline-flex align-items-center justify-content-center mr-3"
                                     style="width: 42px; height: 42px; border-radius: 5px;">
                                    <i class="pi pi-users text-base text-blue-600"></i>
                                </div>
                                <div>
                                    <span class="text-900 text-xl font-medium mb-2">Personas Asociadas:</span>
                                </div>
                                <div class="ml-auto">
                                    <button pButton pRipple type="button" icon="pi pi-plus"
                                            class="p-button-success"
                                            pTooltip="Añadir persona" tooltipPosition="left"
                                            (click)="addPerson()"></button>
                                </div>
                            </div>
                            <div formArrayName="associatedPerson">
                                <div *ngFor="let person of associatedPerson.controls; let i = index"
                                     [formGroupName]="i" class="py-2 border-bottom-1 surface-border">
                                    <div class="block-header">
                                        <span class="block-title">
                                            <span class="block text-900 font-medium mb-1">Persona {{ i + 1 }}</span>
                                        </span>
                                        <div class="block-actions text-900">
                                            <button pButton pRipple type="button" icon="pi pi-trash"
                                                    class="p-button-danger"
                                                    pTooltip="Eliminar persona" tooltipPosition="left"
                                                    [disabled]="!person.get('personName').value"
                                                    (click)="removePerson(i)"></button>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="field col-12 sm:col-6 md:col-6 lg:col-6 xl:col-6">
                                            <label htmlFor="personName"><strong class="p-error">*</strong> Nombre
                                                Completo:</label>
                                            <input pInputText id="personName" type="text" formControlName="personName"
                                                   placeholder="Escriba aquí"/>
                                            <small *ngIf="person.get('personName').hasError('required') &&
                                                (person.get('personName').dirty || person.get('personName').touched)"
                                                   id="personName-help" class="block p-error">Campo requerido.</small>
                                            <small *ngIf="person.get('personName').hasError('minlength') &&
                                                (person.get('personName').dirty || person.get('personName').touched)"
                                                   id="person-min-help" class="block p-error">Debe tener más de 5
                                                caracteres.</small>
                                        </div>
                                        <div class="field col-12 sm:col-6 md:col-6 lg:col-6 xl:col-6">
                                            <label htmlFor="age"><strong class="p-error">*</strong> Edad:</label>
                                            <input pInputText id="age" type="number" formControlName="age"
                                                   placeholder="Escriba aquí"/>
                                            <small *ngIf="person.get('age').hasError('required') &&
                                                (person.get('age').dirty || person.get('age').touched)"
                                                   id="personAge-help" class="block p-error">Campo requerido.</small>
                                        </div>
                                    </div>

                                    <!--HABILIDADES-->
                                    <div class="block-header mb-2">
                                        <span class="block-title">
                                            <span class="block text-900 font-medium mb-1">Habilidades</span>
                                        </span>
                                        <div class="block-actions text-900">
                                            <button pButton pRipple type="button" icon="pi pi-plus"
                                                    class="p-button-success"
                                                    pTooltip="Añadir habilidad" tooltipPosition="left"
                                                    (click)="addSkill(i)"></button>
                                        </div>
                                    </div>
                                    <div formArrayName="skills">
                                        <div *ngFor="let skill of person.get('skills').controls; let j = index">
                                            <div class="field grid">
                                                <label htmlFor="name3"
                                                       class="col-12 mb-2 md:col-2 md:mb-0">Habilidad {{ j + 1 }}:</label>
                                                <div class="col-10 md:col-8">
                                                    <input pInputText id="skillName" [formControlName]="j" type="text"
                                                           placeholder="Escriba aquí"/>
                                                    <small *ngIf="skill.hasError('required') && (skill.dirty || skill.touched)"
                                                           id="skillName-help" class="block p-error">Campo
                                                        requerido.</small>
                                                </div>
                                                <div class="col-2 md:col-2">
                                                    <button pButton pRipple type="button" icon="pi pi-trash"
                                                            class="p-button-danger"
                                                            pTooltip="Eliminar habilidad" tooltipPosition="left"
                                                            [disabled]="!skill.value"
                                                            (click)="removeSkill(i, j)"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div formArrayName="associatedPerson">
                        <div *ngFor="let person of associatedPerson.controls; let i = index" [formGroupName]="i">
                            <!--                            <h3>Persona {{ i + 1 }}</h3>-->
                            <!--                            <label for="personName">Nombre:</label>-->
                            <!--                            <input id="personName" formControlName="personName">-->
                            <!--                            <div *ngIf="person.get('personName').invalid && person.get('personName').touched">-->
                            <!--                                Nombre es requerido.-->
                            <!--                            </div>-->

                            <!--                            <label for="age">Edad:</label>-->
                            <!--                            <input id="age" formControlName="age" type="number">-->
                            <!--                            <div *ngIf="person.get('age').invalid && person.get('age').touched">-->
                            <!--                                Edad es requerida y debe ser un número positivo.-->
                            <!--                            </div>-->

                            <div formArrayName="skills">
                                <div *ngFor="let skill of person.get('skills').controls; let j = index">
                                    <!--                                    <label for="skillName">Habilidad {{ j + 1 }}:</label>-->
                                    <!--                                    <input id="skillName" [formControlName]="j">-->
                                    <!--                                    <div *ngIf="skill.invalid && skill.touched">-->
                                    <!--                                        Habilidad es requerida.-->
                                    <!--                                    </div>-->
                                    <button type="button" (click)="removeSkill(i, j)">Eliminar Habilidad</button>
                                </div>
                                <button type="button" (click)="addSkill(i)">Agregar Habilidad</button>
                            </div>
                            <button type="button" (click)="removePerson(i)">Eliminar Persona</button>
                        </div>
                    </div>
                    <button type="button" (click)="addPerson()">Agregar Persona</button>
                </div>
            </form>
        </div>
    </div>

    <div id="buttons" class="col-12 xl:col-12">
        <div class="mb-3 lg:mt-0" style="text-align: end;">
            <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-raised ml-2" [loading]="loading"
                    (click)="createTask()"></button>
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-raised ml-2 p-button-danger"
                    (click)="cancelCreateTask()"></button>
        </div>
    </div>
</div>
